@(message: String)
<html>
    <head>

    </head>
    <body style="display: block; width: 100%;height: 100%; margin: 0; padding: 0;text-align: center">
        <div style="display: table">
            <div style="display: table-cell; vertical-align: middle;">
                <h2>Items</h2>
                <ul id="list">

                </ul>
            </div>
        </div>

        <script>
                var stream = "/stream";
                //window.load(function() {
                    setTimeout(function() {
                        if (stream === undefined) {
                            console.error("stream is undefined")
                        } else {
                            // start the EventSource which will open a streaming connection to the server
                            var source = new EventSource(stream);
                            // add the listener that will process incoming events
                            source.addEventListener('message', function(e) {
                                console.log(e.data);
                                //$('<li/>', {text: e.item}).appendTo($("#list"));
                            }, false);
                            source.addEventListener('error', function(e) {
                                if (e.eventPhase === EventSource.CLOSED) {
                                    console.log("Connection was closed on error: ", e);
                                } else {
                                    console.log("Error occurred while streaming: ", e);
                                }
                            }, false);
                        }
                    }, 0);
                //});
        </script>
    </body>
</html>